.votingBox {
  width: 50%;
  border: 3px solid black;
  margin-left : auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
}
h1 {
  text-align: center;
}
body {
  background-color: #87ceeb;
}
.error {
  color : #FF0000;
}
.class successf {
  color :#00FF00;
}
